# Include markdown as detectable language
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

# Include JSON files as detectable language
*.json linguist-detectable

# Include YAML files as detectable language
*.yml linguist-detectable
*.yaml linguist-detectable
